{% extends "life/base_generic.html" %}

{% block content %}
    <h1>Items: </h1>

    {% if item_list %}
    <ul>

      {% for item in item_list %}
      <li>
        <a href="{{ item.get_absolute_url }}">{{ item.name }}</a> ({{item.price}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no items available.</p>
    {% endif %} 

    {% if is_item_list %}
      <p> Couldn't find the item you wanted? <a href="add/">Add a new one</a>. </p>
    {% endif %}
    
{% endblock %}